* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gifs {
  display: grid;
  width: 90vw;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(min-content, 200px));
  margin: 5rem auto;
  gap: 2rem;
}

@media screen and (min-width: 770px) {
  .gifs {
    grid-template-columns: 1fr 1fr;
  }
}

.searchbar {
  margin-left: 5rem;
  margin-right: 5rem;
}
